* {
    font-family: "Times New Roman", Times, serif;
}

#header:hover {	
    text-align: center;
    background-color: #247BA0;
    margin-left: 100px;
    margin-top: 200px;

}

#foto1:hover {
    width: 200px;
    height: 350px;
    display: block;
    margin-left: 500px;
    margin-right: 500px;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
    height: 22px;
    color: #a04124;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}
.titull{
    color: red;
    background-color:blue;
}

.titulli{
   width: max-content;
   background-color: red;
   padding: 90px 200px 0 80px;
   margin: 100px 50px;
;

}
.brazil{
    color: purple;
}

tr:hover{
    background-color: yellow;
    padding-left: 50px;
}

td:hover{
    padding: 20px;
}

 